In [80]:
import pandas as pd
import os

data_path = '/Users/nvoronov/Downloads/src'

# Загрузка данных
contact_preference = pd.read_csv(os.path.join(data_path, 'contact_preference.csv'), sep=';')
customer_preferenced_contact_type = pd.read_csv(os.path.join(data_path, 'customer_preferenced_contact_type.csv'), sep=';')
customer = pd.read_csv(os.path.join(data_path, 'customer.csv'), sep=';')
customers_segments = pd.read_csv(os.path.join(data_path, 'customers_segmetns.csv'), sep=';')
location = pd.read_csv(os.path.join(data_path, 'location.csv'), sep=';')
product_feedback = pd.read_csv(os.path.join(data_path, 'product_feedback.csv'), sep=';')
product = pd.read_csv(os.path.join(data_path, 'product.csv'), sep=';')
purchase = pd.read_csv(os.path.join(data_path, 'purchase.csv'), sep=';')
segment = pd.read_csv(os.path.join(data_path, 'segment.csv'), sep=';')
service_feedback = pd.read_csv(os.path.join(data_path, 'service_feedback.csv'), sep=';')

# Объединение таблиц
customer['customer_id'] = customer['id'] 
purchase['customer_id'] = purchase['user_id'] 
product['product_id'] = product['id']
product['purchase_id'] = product['id']
product_feedback['purchase_id'] = pd.to_numeric(product_feedback['purchase_id'], errors='coerce')
product_feedback['feedback_id'] = product_feedback['id']
purchase['purchase_id'] = purchase['id']
user_data = (
    customer.merge(customers_segments, on='customer_id', how='left', suffixes=('', '_segment'))
            .merge(purchase, on='customer_id', how='left', suffixes=('', '_purchase'))
            .merge(product, on='product_id', how='left', suffixes=('', '_product'))
            .merge(product_feedback, on='purchase_id', how='left', suffixes=('', '_feedback'))
)

user_data['quantity'] = pd.to_numeric(user_data['quantity'], errors='coerce')
user_data['price'] = pd.to_numeric(user_data['price'], errors='coerce')


# Обработка данных
user_data['purchase_amount'] = user_data['quantity'] * user_data['price']
user_data['product_name'] = user_data['product_name'].fillna('')

user_summary = user_data.groupby('customer_id').agg(
    total_purchases=('purchase_id', 'count'),
    total_spent=('purchase_amount', 'sum'),
    average_rating=('rating', 'mean'),
    highest_rated_product=('rating', 'max'),
    most_popular_product_name=('product_name', lambda x: x),
    total_reviews=('feedback_id', 'count')
).reset_index()

user_summary['most_popular_product_name'] = user_summary['most_popular_product_name'].apply(lambda x: x[0] if type(x) != str  else '')
user_summary

,customer_id,total_purchases,total_spent,average_rating,highest_rated_product,most_popular_product_name,total_reviews
0,1,11,563.84,8.000000,10.0,Journey,6
1,2,10,398.34,8.125000,10.0,The Wolf of Wall Street,8
2,3,10,247.85,8.750000,10.0,The Shape of Water,4
3,4,14,359.27,7.625000,10.0,Dune,8
4,5,9,164.91,9.000000,9.0,Celeste,3
5,6,7,478.39,6.750000,8.0,Goodfellas,4
6,7,7,161.89,7.500000,10.0,Mad Max: Fury Road,4
7,8,13,433.32,7.000000,10.0,Dead by Daylight,9
8,9,15,337.29,7.857143,9.0,Tekken 7,7
9,10,10,267.85,8.000000,10.0,Dungeons & Dragons,3
10,11,11,362.87,6.333333,10.0,Splatoon 2,6
11,12,5,134.93,7.750000,10.0,The Kite Runner,4
12,13,7,200.87,8.500000,9.0,Fall Guys,2
13,14,15,490.79,8.300000,10.0,Assassin's Creed,10
14,15,7,297.41,6.000000,6.0,The Witcher 3: Wild Hunt,1
15,16,11,208.84,6.750000,9.0,The Great Gatsby,4
16,17,15,521.78,8.428571,10.0,The Shawshank Redemption,7
17,18,10,408.83,7.000000,10.0,Overwatch,5
18,19,14,475.27,7.200000,9.0,Finding Nemo,5
19,20,4,269.94,5.000000,5.0,The Witcher 3: Wild Hunt,1
20,21,10,247.86,8.600000,10.0,Pulp Fiction,5
21,22,10,432.86,8.000000,8.0,Fight Club,2
22,23,6,278.90,9.000000,9.0,The Usual Suspects,1
23,24,12,534.79,6.500000,8.0,The Chronicles of Narnia,4
24,25,11,412.83,8.750000,10.0,Jane Eyre,4
25,26,15,629.26,8.600000,10.0,The Chronicles of Narnia,5
26,27,9,266.36,8.250000,10.0,The Grapes of Wrath,4
27,28,15,423.80,7.714286,10.0,The Catcher in the Rye,7
28,29,8,232.90,6.333333,7.0,The Bell Jar,3
29,30,7,132.90,9.400000,10.0,The Bell Jar,5
30,31,13,389.32,7.500000,10.0,The Road,8
31,32,10,384.83,7.000000,10.0,Avatar,6
32,33,3,85.95,9.666667,10.0,Jojo Rabbit,3
33,34,10,339.85,6.750000,9.0,The Elder Scrolls V: Skyrim,4
34,35,12,412.33,7.666667,9.0,Back to the Future,3
35,36,7,199.86,9.333333,10.0,The Fault in Our Stars,3
36,37,7,223.89,5.000000,5.0,The Hunger Games,2
37,38,13,481.81,6.200000,7.0,Where the Crawdads Sing,5
38,39,8,211.88,7.500000,10.0,A Beautiful Mind,4
39,40,15,519.76,6.833333,10.0,Harry Potter and the Sorcerer's Stone,6
40,41,7,132.89,7.000000,8.0,The Great Gatsby,4
41,42,12,356.83,6.000000,6.0,Harry Potter and the Sorcerer's Stone,1
42,43,10,149.37,6.500000,9.0,A Wrinkle in Time,6
43,44,4,174.93,8.666667,9.0,The Brothers Karamazov,3
44,45,16,519.76,7.090909,10.0,A Star Is Born,11
45,46,11,568.82,7.166667,9.0,Spiritfarer,6
46,47,14,460.78,7.500000,9.0,The Little Prince,8
47,48,11,402.83,7.833333,10.0,Overwatch,6
48,49,9,534.86,7.800000,10.0,Borderlands 3,5
49,50,0,0.00,NaN,NaN,,0

In [81]:
def calculate_spending_share(user_id):
    # Фильтруем данные по пользователю
    user_purchases = purchase[purchase['customer_id'] == user_id]

    # Вычисляем общие траты
    purchase_by_user = user_purchases.merge(product, how='left', on='product_id')
    purchase_by_user['amount'] = purchase_by_user.apply(lambda x:  float(x['price']) * float(x['quantity']), axis=1)
    total_spent = purchase_by_user['amount'].sum()

    # Вычисляем траты по категориям
    category_spending = purchase_by_user[purchase_by_user['category_name'].isin(['Movies', 'Games', 'Books'])].groupby('category_name')['amount'].sum().reset_index()

    # Добавляем долю от общих трат
    category_spending['share'] = category_spending['amount'] / total_spent

    
    return category_spending

# Пример вызова функции для конкретного пользователя
user_id_example = 1  # Замените на нужный ID пользователя
spending_share = calculate_spending_share(user_id_example)
print(spending_share)

  category_name  amount     share
0         Books   38.96  0.069098
1         Games  494.90  0.877731
2        Movies   29.98  0.053171